@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">A ocurrido un error mientra se estaba procesando tu petición</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Modo Desarrollo</h3>
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>
<p>
    <strong>El entorno de desarrollo no debe habilitarse para aplicaciones implementadas.</strong>
    Puede resultar en mostrar información confidencial de excepciones a usuarios finales.
    Para la depuración local, habilite el entorno <strong>Desarrollo</strong> configurando el <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
    y resinicie la Aplicación.
</p>
