@{
    ViewData["Title"] = "Privacy";
}
<div class="text-center">
    <h1>Estas Logeado y tienes Permisos de Navegación</h1>

    <p>Las Paginas de Privacidad y Contactos, solo se mostrara, si estas logueado</p>

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtm3m1hx2G1au6BG4XQlGfeAbXq-68eNL0qbKISIyTeJcKsXpn">
</div>