@{
    ViewData["Title"] = "Thanks";
}
<div class="text-center">
    <h1>Gracias por Contactarnos</h1>

    <p>Pronto estaremos respondiendo su duda</p>

    <img src="http://firebrandtalent.com/wp-content/uploads/Are-you-lisitening-cbadings.jpg">
</div>